!!! XML
!!!
%html
  %head
    %title t.ermin.us
    %link{:rel => "Shortcut Icon", :href => "/images/logo-favicon.ico"}/
    = css_include_tag "reset"
    = css_include_tag "application"

    = js_include_tag "jquery"
    = js_include_tag "jquery.form"
    = js_include_tag "jquery-ui"
    = js_include_tag "mouseapp_2"
    = js_include_tag "application"

    %script{:type => 'text/javascript'}
      var terminal;
      $(function() {
      = catch_content :jquery
      });
    
  %body   
    .container
      #content
        = catch_content :for_layout
      #footer
