:javascript
  $(function() {
    var form = $('#new_command_form');
    form.ajaxForm(function() {
      terminal.write("I just added your new command!\n");
      terminal.hideModal();
    });
  });

%h1 Add a new command to the t.ermin.us repository!

%p 
  Enter your command's name and web API URL.  For more information about creating new commands, see the 
  = link_to "API Guide", "#"
  ='.'

- form_for(@command, :action => url(:command, @command), :id => 'new_command_form') do

  %p
    = label 'Name:'
    %br/
    = text_control :name

  %p
    = label 'URL:'
    %br/
    = text_control :url

  %p
    = image_submit("submit-button.png", :class => "button")
    = link_to image_tag("cancel-button.png"), "javascript:terminal.hideModal();"
